@import '../../common/common';

.home {
  background-color: $darkBgColor;
  padding: 3rem;
  color: $lightTextColor;
}
.contain{border: 1px solid;padding: 0px !important;}
.m-b-10{margin-bottom: 20px;}
.border-t-l{border-top: 1px solid;border-right: 1px solid;}
.border-t{border-top: 1px solid #000 !important;}
.no-padding{padding: 0px;}
.font-14{font-size: 14px;}
.bg-white{background: #fff;color: #000;}
.img{width: 15px;}
.datepickerdemoCalendar {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoCalendar label {
    font-size: x-small; }

  .slide.ng-enter,
.slide.ng-leave,
.slide.ng-move {
  transition: 0.5s linear all;
}

.slide.ng-enter,
.slide.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.slide.ng-enter.ng-enter-active,
.slide.ng-move.ng-move-active {
  height: 120px;
  opacity: 1;
}

.slide.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.slide.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}
